@import './_base.scss';

@font-face {
  font-family: 'PTMono';
  src : url('../assets/fonts/PT_Mono/PTMono-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src : url('../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Mono Bold';
  src : url('../assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf');
  font-weight: 700;
}

body {
  background: radial-gradient(36.29% 81.95% at 5.85% 86.29%, rgba(0, 255, 255, 0.2) 0%, rgba(0, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(82.17% 104.45% at 91.25% 7.78%, rgba(69, 141, 185, 0.5) 0%, rgba(0, 0, 0, 0.5) 48.42%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #000000;
}

#app {
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow: auto;
}

.dotted {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(255,255,255,.2), rgba(255,255,255,.2) 1px, transparent 3px, transparent 100%);
  background-size: 50px 50px;
  width:100%;
}

.container {
  height: 900px;
}

.page-content {
  padding-left: 112px;
  padding-right: 70px;
  .title-top {
    font-family: 'IBM Plex Mono Bold';
    font-style: normal;
    font-size: 32px;
    margin-top: 54px;
    text-align: left;
  }
  .text-block-wrap {
    font-family: 'IBM Plex Mono Bold';
    font-style: normal;
    margin-top: 40px;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    .text-block {
      margin-bottom: 18px;
    }
    p {
      margin-left: 16px;
    }
  }
}
.background-numbers {
  position: absolute;
  opacity: 0.4;
  left: 52px;
  top: 104px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #9F8198;
  p {
    margin-bottom: 21px;
  }
}

.main-content {
  width: calc(100% - 220px);
}

.page1 {
  .block2 {
    margin-top: 70px;
    &-title {
      font-family: 'IBM Plex Mono Bold';
      font-size: 16px;
    }
    &-wrap {
      margin-top: 10px;
    }
    .ico-block {
      p {
        font-family: 'IBM Plex Mono Bold';
        font-size: 16px;
      }
    }
  }
  .ico-block {
    max-width: 174px;
    &-txt-top {
      height: 100px;
      padding-top: 20px;
    }
    &-txt-bottom {
      height: 100px;
      padding-top: 20px;
    }
  }
}

.page2 {
  .block2 {
    margin-top: 60px;
    width: 1030px;
    &-wrap {
      margin-top: 10px;
    }
    .ico-block {
      p {
        font-family: 'IBM Plex Mono Bold';
        font-size: 16px;
      }
    }
  }
  .txt-top {
    width: 180px;
    font-family: 'IBM Plex Mono Bold';
    font-size: 16px;
  }
  .top-line {
    width: 533px;
    height: 12px;
    border: 2px solid $color-primary;
    border-bottom: none;
  }
  .ico-block {
    width: 180px;
    &-txt-bottom {
      height: 100px;
      padding-top: 20px;
      text-align: center;
    }
  }
  .ico-arrow {
    padding-top: 44px;
  }
  .vertical-dot {
    width: 4px;
    height: 123px;
    background-position:  0 0, 0 0, 100% 0, 0 100%;
    background-image: repeating-linear-gradient(0deg, $color-primary, $color-primary 10px, transparent 10px, transparent 30px);
    background-position:  0 0, 0 0, 100% 0, 0 100%;
    background-size: 3px 100%;
    background-repeat: no-repeat;
  }
  .block-bottom {
    &-txt-wrap {
      margin-top: 20px;
    }
    &-txt {
      text-align: left;
      &1 {
        margin-left: 160px;
        width: 246px;
      }
      &2 {
        margin-left: 152px;
        width: 214px;
      }
      &3 {
        margin-left: 52px;
        width: 174px;
      }
    }
  }
  .line1 {
    width: 82px;
    height: 124px;
    border-left: 2px solid #00FFFF;
    transform: rotate(40deg);
    position: absolute;
    left: 173px;
    top: -79px;
    &:after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-primary;
      display: block;
      left: -4px;
    }
  }
  .line2 {
    width: 82px;
    height: 68px;
    border-left: 2px solid $color-primary;
    position: absolute;
    left: 143px;
    top: 4px;
  }
  .line3 {
    width: 82px;
    height: 144px;
    border-left: 2px solid $color-primary;
    transform: rotate(50deg);
    position: absolute;
    left: 580px;
    top: -84px;
    &:after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-primary;
      display: block;
      left: -4px;
    }
  }
  .line4 {
    width: 82px;
    height: 68px;
    border-left: 2px solid $color-primary;
    position: absolute;
    left: 540px;
    top: 4px;
  }
  .line5 {
    width: 82px;
    height: 100px;
    border-left: 2px solid #00FFFF;
    transform: rotate(21deg);
    position: absolute;
    left: 818px;
    top: -78px;
    &:after {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-primary;
      display: block;
      left: -4px;
    }
  }
  .line6 {
    width: 82px;
    height: 68px;
    border-left: 2px solid $color-primary;
    position: absolute;
    left: 803px;
    top: 4px;
  }
}

.page3 {
  .title-block {
    margin-bottom: 43px;
  }
  .txt-block {
    max-width: 370px;
    p {
      font-size: 16px;
      margin-left: 30px;
      margin-bottom: 24px;
      text-align: left;
    }
  }
  .block2 {
    margin-left: 142px;
  }
}

.page4 {
  .block2 {
    width: 1050px;
    margin-top: 90px;
    &-wrap {
      align-items: inherit;
    }
  }
  .divider {
    margin-top: 60px;
  }
  .ico-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-txt-top {
      width: 152px ;
      height: 60px;
      font-family: 'IBM Plex Mono Bold';
      font-size: 16px;
    }
    .ico-block-imp-wrap {
      height: 80px;
    }
  }
  .block-line {
    border: 2px solid $color-primary;
    border-top: none;
    height: 12px;
    margin-top: 40px;
    &1 {
      width: 380px;
    }
    &2 {
      margin-left: 78px;
      width: 639px;
    }
  }
  .block-txt {
    &-wrap {
      margin-top: 38px;
    }
    text-align: left;
    font-size: 16px;
    &1 {
      width: 364px;
    }
    &2 {
      width: 488px;
      margin-left: 52px;
    }
    &-arrow {
      font-size: 16px;
      margin-right: 16px;
    }
  }
}
.page5 {
  .block {
    margin-top: 70px;
    margin-left: 150px;
  }
}
.page6 {
  .block {
    margin-top: 90px;
    margin-left: 130px;
  }
}
